.profile_image img {
  object-fit: cover;
}

.icons {
  cursor: pointer;
  transition: all 0.2s;
}

.icons:hover {
  scale: 1.2;
}

.ant-layout-sider-children {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
